{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft.AspNetCore": "Warning",
        "Microsoft.EntityFrameworkCore": "Warning"
      }
    },
    "Enrich": ["FromLogContext"]
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=SEU_BANCO;Username=SEU_USUARIO;Password=SUA_SENHA"
  },
  "Jwt": {
    "Issuer": "obsidian-erp",
    "Audience": "obsidian-erp-client",
    "AccessTokenMinutes": 15,
    "RefreshTokenDays": 7
  },
  "Storage": {
    "LocalRootPath": ""
  }
}
